body {
    background-color: #faf4ff;
}


#predictResult {
    font-size: 1.5rem;
}

.image_area {
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg {
    max-width: 1000px !important;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
}

.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.text {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#uploaded_image {
    max-width: 80%;
}

#content {
    margin: auto;

    /*margin-top : 3rem;*/

    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.3);
    padding: 1.2rem;
    background-color: white;
    border-radius: 1rem;
}

html, body, main {

    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;

}

html, body, main {
    /*height: 100%;*/
    /*max-height: 500px;*/
}

main {
    height: 100vh;
}



html {
    font-size: 15px;
}

@media all and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

main {
    display:grid;
}

#uploadImageServer {
    margin-top: 0.5rem;
}

@media all and (max-width: 600px) {
    .cropper-container {
        width: 100% !important;
    }

    .resultIdolPercentage {
        font-size: 0.8rem;
    }
}

@media all and (min-width: 600px) {
    .cropper-container {
        max-width: 100% !important;
        /*max-height: 70vh !important;*/
    }
}

#previewWrapper {
    justify-content: center;
    /* align-items: center; */
    display: flex;
}


.resultIdolName {

}

.resultLeftText {
    width: 40%;
    text-align: center;
    flex-shrink: 0;
}

.resultPercentageProgress {
    flex-grow: 1;
}

.resultEachIdolWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#resultTitle {
    padding: 0.4rem 2rem;
    margin-bottom: 0.3rem;
    border-radius: 2rem;
    background-color: #eecfff;
}

#uploaded_image {
    display: none;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

#resultIdolContainer {
    margin-top:0.4rem;
}

#resultReportButton {
    color: deeppink;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
    cursor: pointer;

}